.title {
   display: inline-block;
   width: 500px;
}

/* faixa animada */
.text-wrapper {
   padding: 7px;
   display: flex;
   background-color: #6204BF;
}

.text-wrapper p {
   white-space: nowrap;
   font-weight: 400;
   font-size: 1.8rem;
   display: inline;
   color: #FFF;

   animation: animafaixa 5s linear infinite;
}

@keyframes animafaixa {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-100%);
   }
}

