.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 15vw;
    z-index: 999;

}

.header-social {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d0d0d0;
    width: 100vw;
    z-index: 2;
    height: 100%;
}


.icon {
    width: 1.5vw;
    height: 2.5vw;
    cursor: pointer;
}



.logo img {
    width: 290px;
    height: 155px;
    margin-right: 240px;
}

.login {
    position: relative;
    z-index: 10;
}

.vortexHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.vortexHeaderRight {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    height: 50%;
}

 .vortexHeader {
    height: 100%;
}

.headerMenu {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: #d0d0d0 1px solid;
    font-size: 1.5rem;
    font-weight: 500;
}

.headerMenu a:hover, .redes-sociais a:hover {
    color: #8733d3;
}

.redes-sociais {
    gap: 14%;
}

.redes-sociais a {
    color: black;
    
}


@media (width > 1366px) {
    .redes-sociais {
        margin-left: 100px;
    }
}

@media (max-width: 1366px) {
    .logo img{
        width: 190px;
        height: auto;
    }
    .redes-sociais {
        margin-left: 70px;
    }
}

@media (width <= 906px) {
    .headerMenu {
        display: none;
    }

    .redes-sociais {
        margin-left: 15vw;
    }
    .redes-sociais .icon {
        display: none;
    }
    .logo img {
        align-self: center;
        justify-self: center;
        height: 14vw;
        width: auto;
        margin-right: 25vw;
    }

    html {
        font-size: 31.2%;
    }

    .vortexHeaderRight {
        height: 10vw;
    }

}

@media (max-width: 430px) {
    .header {
        height: 20vw;
    }

    .header .redes-sociais .icon {
        display: none;
    }
}